<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <ContainerResourceId>/subscriptions/b1544852-73ed-4c69-86bd-3aec66dbf8f0/resourcegroups/testing/providers/Microsoft.ContainerRegistry/registries/WebApplicationLASTDAY120210324163348</ContainerResourceId>
    <ContainerResourceName>WebApplicationLASTDAY120210324163348</ContainerResourceName>
    <Subscription>Azure Pass - Sponsorship</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>webapplicationlastday120210324163348.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/b1544852-73ed-4c69-86bd-3aec66dbf8f0/resourcegroups/testing/providers/Microsoft.Web/sites/WebApplicationLASTDAY120210324163153</ResourceId>
    <ResourceGroup>testing</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://webapplicationlastday120210324163153.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <SCMUrl>https://webapplicationlastday120210324163153.scm.azurewebsites.net/</SCMUrl>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>8410ce88-5aaa-4dae-bbf9-56449bbce426</ProjectGuid>
  </PropertyGroup>
</Project>