
@model WebApplication3Exercise.Models.Studentslist
{
    ViewBag.Title = "Studentdetails";
}

<table>
    <tr>
        <th> Student ID </th>
        <th> Student Name </th>
        <th> Student Age </th>
    </tr>
    <tr>
        <th>@Model.StudID </th>
        <th>@Model.StudName </th>
        <th>@Model.StudAge </th>
    </tr>


</table>

