
@model WebApplication3.Models.ProductDetails
{
    ViewBag.Title = "ProductDetails";
}
<h2>Product Details Exercise</h2>

<h3>@Model.ProductID
</h3>

<h4>@Model.ProductName</h4>

<h5>@Model.Cost</h5>

