
@{
    ViewBag.Title = "StudentList";
}

<h2>Student List</h2>

<table style="width:100%">
    <tr>
        <th>Student ID</th>
        <th>Student Name</th>
        <th>Age</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Jaden Smith</td>
        <td>12</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Joseph Jackson</td>
        <td>14</td>
    </tr>
</table>
