<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <ContainerResourceId>/subscriptions/b1544852-73ed-4c69-86bd-3aec66dbf8f0/resourcegroups/WebApplication1620210329230147ResourceGroup/providers/Microsoft.ContainerRegistry/registries/WebApplication1620210329230347</ContainerResourceId>
    <ContainerResourceName>WebApplication1620210329230347</ContainerResourceName>
    <Subscription>Azure Pass - Sponsorship</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>webapplication1620210329230347.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/b1544852-73ed-4c69-86bd-3aec66dbf8f0/resourceGroups/WebApplication1620210329230147ResourceGroup/providers/Microsoft.Web/sites/WebApplication1620210329230147</ResourceId>
    <ResourceGroup>WebApplication1620210329230147ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://webapplication1620210329230147.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <SCMUrl>https://webapplication1620210329230147.scm.azurewebsites.net/</SCMUrl>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>085cd40f-4a3c-4d50-b1da-1ee78cd6364c</ProjectGuid>
  </PropertyGroup>
</Project>